:root {
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
  --light-red: hsl(0, 100%, 67%);
  --purple: hsl(259, 100%, 65%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  height: 100%;
}

body {
  background: var(--off-white);
}

body * {
  font-family: 'Poppins', sans-serif;
  line-height: 100%;
}

.app {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  background: #fff;
  min-width: clamp(325px, 60vw, 800px);
  border-radius: 10px 10px 100px 10px;
  padding: 52px clamp(22px, 5vw, 52px);
}

.input-container {
  display: flex;
  gap: 14px;
  padding-bottom: 64px;
  border-bottom: 1px solid var(--light-grey);
  position: relative;
}

.input-container div{
  display: flex;
  flex-direction: column;
}

.input-container label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--smokey-grey);
  margin-bottom: 8px;
}

.input-container input {
  font-size: clamp(14px, 2vw, 22px);
  padding: 14px;
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  width: clamp(84px, 10vw, 152px);
}

.input-container input:focus {
  outline: 1px solid var(--purple);
}

.submit {
  height: clamp(66px, 7vw, 94px);
  padding: 20px;
  border-radius: 50%;
  background: var(--purple);
  cursor: pointer;
  border: none;

  position: absolute;
  bottom: -33px;
  right: 50%;
  margin-right: -33px;
}
.submit:hover { background: var(--off-black); }


.content-container {
  padding-top: 64px;
}

.content-container p {
  font-size: clamp(60px, 5vw, 100px);
  font-weight: 800;
  font-style: italic;
  cursor: default;
}

.content-container span {
  color: var(--purple);
}

@media (min-width: 768px) {
  main {
    border-radius: 20px 20px clamp(100px, 10vw, 200px) 20px;
  }

  .input-container {
    padding-bottom: 42px;
  }

  .submit {
    right: 0px;
    margin: 0;
    transition: right 1s;
  }
  
}