
.content {
  padding: 52px 32px;
  display: grid;
}

.content > span {
  color: var(--color-8);
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;

  display: block;
  margin-bottom: 16px;
}

.content h1 {
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 32px;
}

.content p {
  color: var(--color-3);
  line-height: 24px;
  margin-bottom: 16px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.price h2 {
  display: flex;
  align-items: center;
}

.price .discount-percentage{
  background: #FFEDE0;
  border-radius: 6px;
  color: var(--color-8);
  font-size: 16px;
  padding: 4px;

  display: inline-block;
  margin-left: 16px;
}

.price .discount {
  line-height: 20px;
  text-decoration: line-through;
  color: var(--color-2);
}

.amount-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 52px;
  border-radius: 7px;
  background: #F7F8FD;

  font-weight: 700;
  padding: 0 8px;
  margin-bottom: 16px;
}

.amount-btn img {
  padding: 8px;
}
